* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial,sans-serif';
    text-decoration: none;
}

.logo {
    align-self: center;
}

body {
    background-color: #fafafa;
    max-height: 100vh;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.register a, .login-register a {
    color: #0095f6;
    font-weight: 600;
}

.btn {
    all: unset;
    font-weight: 600;
    text-align: center;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

footer a, footer {
    color: #8e8e8e;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

footer {
    padding-bottom: 52px;
}

.nav-footer {
    display: flex;
    flex-wrap: wrap;
    width: 89ch;
    gap: 10px;
    align-self: center;
}

.language-trademark {
    margin-top: 16px;
    gap: 20px;
}

select {
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 400;
    border: none;
    background-color: transparent;
}

select option {
    font-size: 14px;
    color: black;
    background-color: #fafafa;
}