.nav-bar {
    background-color: #ffffff;
    padding: 14px 20px;
    border-bottom: solid 1px #dbdbdb;
    position: sticky;
    top: 0;
}

.logo {
    width: 103px;
}

.search {
    border-radius: 3px;
    background: url(./search.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 32% 50%;
    min-width: 200px;
    padding: 3px 10px 3px 26px;
}

input[type='search'] {
    outline: none;
    background-color: #fafafa;
    border-radius: 3px;
    color: rgb(38, 38, 38);
    border: solid 1px #dbdbdb;
    text-align: center;
}

input[type='search']::placeholder {
    text-align: center;
}

.login-register {
    gap: 15px;
    font-size: 14px;
}

.btn {
    background-color: #0095f6;
    border-radius: 4px;
    padding: 5px 9px;
}

.container {
    padding: 0 23% 0 23%;
}

header {
    padding: 30px 24px;
}

.container_header_photo {
    padding: 0 70.5px;
    margin-right: 28px;
}

.container_header_photo img {
    width: 150px;
    height: 150px;
}

.circle>img {
    border-radius: 50%;
}

.container_username-follow {
    margin-bottom: 20px;
}

.username {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-right: 60px;
}

.stats {
    width: 350px;
    margin-bottom: 20px;
}

.name {
    font-weight: 600;
    font-size: 16px;
}

.stories {
    gap: 45px;
    padding: 0 15px 44px 15px;
}

.stories img {
    width: 77px;
    height: 77px;
    border: thick double #f0f0f0;
}

.circle>p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.sections {
    border-top: solid 1px #dbdbdb;
    gap: 50px;
    height: 52px;
}

.sections>a {
    margin-left: 6px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-weight: 600;
}

.sections>a:nth-of-type(1) {
    border-top: rgb(38, 38, 38);
    color: rgb(38, 38, 38);
}

.gallery {
    row-gap: 30px;
}

.row>img {
    width: 31%;
    height: 31%;
}

footer {
    margin-top: 24px;
}